.lake/

# A priori, we do not want to share anything from the Playground.
Playground/*

# Explicitly share the following.
!Playground/Notes_Playground.md
!Playground/Playground.lean
!Playground/Playground2.lean
